#Exclude various files
*.sw?
.vimtags
.DS_Store
~$*.*
sdemesol/sdeass/documents/aitisianalitikis_2022-06-27.docx
sdemesol/sdeass/documents/aitisianalitikis_2023-06-20.docx
sdemesol/sdeass/documents/apodeiktiko_2022-06-23.docx
sdemesol/sdeass/documents/apodeiktiko_2022-06-27.docx
sdemesol/sdeass/documents/sdetpl05_2022-06-20.docx
sdemesol/sdeass/documents/sdetpl05_mes_2022-06-20.docx
sdemesol/sdeass/documents/sdetpl05_mes_bw_2022-06-20.docx
sdemesol/sdeass/documents/sdetpl05_mes_bw_2022-06-22.docx
sdemesol/sdeass/documents/sdetpl05_mes_bw_2022-06-23.docx
sdemesol/sdeass/documents/sdetpl05_mes_bw_2022-06-27.docx
sdemesol/sdeass/documents/sdetpl05_mes_bw_2022-06-28.docx
sdemesol/sdeass/documents/sdetpl05_mes_bw_2023-06-20.docx
sdemesol/sdeass/documents/titlos_2022-06-22.docx
sdemesol/sdeass/documents/titlos_2022-06-23.docx
sdemesol/sdeass/documents/titlos_2022-06-27.docx
sdemesol/sdeass/documents/titlos_2022-06-28.docx
desktop.ini
